<p-table
    [value]="data"
    [paginator]="true"
    [columns]="cols"
    [rows]="5"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10, 25, 50]"
>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th [style]="'width:'.concat((cols.length / 100).toString()).concat('%;')" *ngFor="let col of cols">
                {{ col.header }}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.key]}}
      </td>
      </tr>
  </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button (onClick)="addButton()" type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
